.home {
    display: flex;

    .homeContainer {
        flex: 6;
    }
}



.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.avatar-container {
    position: relative;
    width: 150px;
    height: 150px;
}

// .avatar-background {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     background-color: #f1f1f1;
//     border-radius: 50%;
// }

.avatar {
    width: 100%;
    height: 100%;
    border-radius: 50% 50% 0 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.user-info {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    margin-top: 20px;
}

.user-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.user-info p {
    font-size: 16px;
    margin-bottom: 5px;
}

.button-edit {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 8px 16px;
    border-radius: 10px;
    width: 200px;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.button-edit:hover {
    background-color: #f1f1f1;
    border-color: #999;
    color: #333;
}

.user-info-container {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 4px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.items {
    display: flex;
    align-items: center;
}

.item {
    margin-left: 20px;
}

/* Style for the dropdown */
.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    min-width: 150px;
}

.dropdown-item {
    padding: 8px 16px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}